<html>
	<head>
	<meta charset="UTF-8"/>
	<style>
	body{
		background: lightcyan;
	}
	</style>
	</head>

	<body>
		<a href="/tienda">Volver a la tienda</a>
		<br>
		<form action="/producto/add" method="POST">
		<p> Nombre del producto: </p>
		<input type="text" name="nombre" required/>
		<p> Descripción: </p>
		<textarea name="descripcion" rows=5 cols=50 required></textarea>
		<p> Imagen del producto (URL): </p>
		<input type="text" name="url" required/>
		<p> Precio del producto: </p>
		<input type="number" step="0.01" name="precio" required/>
		<p> Número de unidades: </p>
		<input type="number" name="unidades"required/>
		<input type="submit" value="Añadir producto" />
		<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
	</body>

</html>