<html>
<head>
<meta charset="UTF-8"/>
	<style>
	body{
		
		background-image: url(https://cdn.discordapp.com/attachments/522438377165815808/817439950693072908/mercaonlinelogo.png);
		background-repeat: no-repeat;
		background-size: 650px;
    	background-position: center;
	}
	</style>
</head>
<body>
	<h1>Bienvenido a MercaOnline</h1>
	<a href ="/tienda">Acceder a MercaOnline </a>
	<br>
	<a href="/registro">Registrase en la web </a>
	<br>
	{{^logged}}
	<form action="/addProducto" method="post">
    	<button type="submit">LogIn</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
	</form>
	{{/logged}}
	
	{{#logged}}
	<form action="/logout" method="post">
    	<button type="submit">Cerrar Sesion</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
	</form>
	{{/logged}}
	
</body>


</html>