<html>
	<head>
	<meta charset="UTF-8"/>
	<style>
	body{
		background: lightcyan;
	}
	</style>
	</head>

	<body>
		<form action="/login" method="POST">
		
			<p> Nombre: </p>
			<input type="text" name="nombre"/>
			
			<p> Email: </p>
			<input type="email" name="email"/>
			
			<p> Contraseña: </p>
			<input type="password" name="password"/>
			
			<br>
			<input type="submit" value="Registrarse"/>
			<input type="hidden" name="_csrf" value="{{token}}" />
		</form>
		
			<p>logged:</p>
		{{#logged}}
			<p>{{logged}}</p>
		{{/logged}}
		{{^logged}}
			<p>NA</p>
		{{/logged}}
		
		<p>name:</p>
		{{#name}}
			<p>{{name}}</p>
		{{/name}}
		{{^name}}
			<p>NA</p>
		{{/name}}
		
			<p>admin:</p>
		{{#admin}}
			<p>{{admin}}</p>
		{{/admin}}
		{{^admin}}
			<p>NA</p>
		{{/admin}}
		
	</body>
	
	
</html>