<html>
	<head>
		<meta charset="utf-8">
		<style>
			
			img{
				width: 350px;
   				height: 350px;
			}
			
			body{
				background: lightcyan;
			}
	
		</style>
	</head>
	<body>
			<h1> {{miproducto.nombre}} </h1>
			<img src={{miproducto.url}}>
			<p> {{miproducto.descripcion}} </p>
			<p> Precio: {{miproducto.precio}} €</p>
			<p> Número de unidades restantes: {{unidades}}</p>
		<br>
	{{#logged}}
	<a href="/producto/addtocarro/{{miproducto.idProducto}}">Añadir producto al carro de compra.</a>
    {{/logged}}
    <br>
    {{#admin}}
	<a>Eliminar producto</a> 
	<br>
	{{/admin}}
	{{^logged}}
	<a href="/login">Iniciar sesion</a>
	<br>
	{{/logged}}
	<a href="/tienda">Volver a la tienda. </a>
	</body>
	
</html>