<html>
	<head>
		<meta charset="utf-8">
		<style>
			.Escaparate{
				float:left;
				padding:auto;
				margin:3px;
	
			}
			img{
				width: 300px;
   				height: 300px;
			}
			
		</style>
	</head>
	<body>
	{{#producto}}
		<div class="Escaparate" tag=" "> 
			<div class= "Producto">
				
				<br><h1><a href="/{{-index}}">{{nombre}} {{idProducto}}</a> </h1>
				<br>
				<a href="producto/{{-index}}">
				<img src="https://cdn.discordapp.com/attachments/752885933401047142/813815861089009694/450_1000.png">
				</a>
				<br> 
			</div>
		</div>
	{{/producto}}
			
	{{^producto}}
	<p> No hay productos anunciados. Vuelva en otro momento.</p>
	{{/producto}}
		
		<br>
		
	{{#cliente}}
		<div class="Escaparate" tag=" "> 
			<div class= "Producto">
				
				<br><h1><a href="/{{-index}}">{{nombre}} {{idCliente}}</a> </h1>
				<br>
				<a href="producto/{{-index}}"><img src="https://cdn.discordapp.com/attachments/752885933401047142/813815861089009694/450_1000.png"></a>
				<br> 
			</div>
		</div>
	{{/cliente}}
			
	{{^cliente}}
	<p> No hay clientes.</p>
	{{/cliente}}

	</body>
</html>