<html>
	<head>
	<meta charset="UTF-8"/>
	<style>
	body{
		background: #86ff00;
	}
	</style>
	</head>

	<body>
		<a href="/">Volver</a>
		<br>
		<br>
		<form action="/registrarse" method="POST">
		
			<p> Nombre: </p>
			<input type="text" name="nombre" required/>
			
			<p> Email: </p>
			<input type="email" name="email" required/>
			
			<p> Contraseña: </p>
			<input type="password" name="password" required/>
			
			<br>
			<input type="submit" value="Registrarse"/>
			<input type="hidden" name="_csrf" value="{{token}}"/>
			
		</form>
	</body>
		
</html>